[2016-08-05 02:17] makertech81 opened #3 "Source Code?"
Would trying to find as much source code as we can helpful?  I have found quite a bit of code from the iOS app.  Nothing too useful, but I think I am close to some of the app's Swift code.  Crossing my fingers!  --Sorry If this is off-topic.

Maker

[2016-08-05 02:17] #3 closed

[2016-08-05 04:07] gurupras opened #5 "How."
First, great job on creating this repository for sharing information.

I'd like to know how you guys went about reverse engineering this. Given that this repository has been created for educational purposes, I'd really like to learn how to do something like this so I would be able to contribute as well.

[2016-08-05 04:12] MaxLeiter commented on #5
I recommend reading the Discord history (or just reading it from here on out). There is some information on the wiki; hopefully it can be updated more tomorrow when more developers are awake.

[2016-08-05 04:12] firebolt55439 commented on #5
From what I understand, the devs here found the bridge between Unity and native Android code in the Pokemon GO APK (`libNianticPlugin.so` or such) and decompiled it through IDA. After that, they (fairly laboriously) determined what subroutines were responsible for the encryption and narrowed down the list to just two or three, then decompiled them as "messy" C, all of which are available on the wi

[2016-08-05 04:24] gurupras commented on #5
You're right. I should read through the discord history. I'm going to do that right now.

I know you guys are probably exhausted, but I really think that summarizing this would be a great way to get more people to contribute. It doesn't have to be as a comment to this 'issue'.
I'm sure there are a lot of us dying to have an opportunity to learn from you guys so that we can contribute in the future

[2016-08-05 04:31] xrobau commented on #5
Only if you were running that on an ARM CPU, assuming you knew what the inputs were.

[2016-08-05 04:36] shark0der commented on #5
There's no access to the discord `#api-debugging` channel history for now. Hope you'll make that public soon. Thanks for the great work!

[2016-08-05 04:37] gurupras commented on #5
I'm reading through it right now. I think its accessible.

[2016-08-05 04:38] MaxLeiter commented on #5
It should be public now, @shark0der. Pinging @keyphact to look into tomorrow

[2016-08-05 04:46] wchill commented on #5
For Android apps, you can grab the smali disassembly by running it through APKTool, yes. A lot of times that's enough since most apps don't have any native code. However, in the case of Pokemon Go, since Unity compiles to native code using `il2cpp`, APKTool is not sufficient.

If you just want the native libraries being used, you can rename the extension to `.zip` then unzip it. This is because bo

[2016-08-05 04:47] shark0der commented on #5
@MaxLeiter The channel itself is public. The channel **history** is not:

![image](https://cloud.githubusercontent.com/assets/528959/17426479/d721cc44-5ae0-11e6-9df4-2eb6d1b88b18.png)

[2016-08-05 04:48] MaxLeiter commented on #5
Make a separate issue please, @shark0der

[2016-08-05 04:51] shark0der opened #7 "Make discord channel history public"
@keyphact, please make the `#api-debugging` channel **history** public.

![image](https://cloud.githubusercontent.com/assets/528959/17426510/44141910-5ae1-11e6-8b30-ed86ac7f377e.png)

[2016-08-05 05:15] MaxLeiter commented on #7
Done

[2016-08-05 05:15] #7 closed

[2016-08-05 05:22] waryas commented on #5
Actually you could use frida to bridge a native app and a arm app but that would require to know the input and have areal game running with the api.

[2016-08-05 05:38] my2ndLanguage commented on #5
absolutely stunning work.

[2016-08-05 05:40] gandafor commented on #5
Agreed! Stunning work!

[2016-08-05 06:20] widnyana commented on #5
@waryas does using raspberry pi count?

[2016-08-05 06:22] wchill commented on #5
@widnyana it won't run on a Raspberry Pi since you would need an ARMv7 or ARM64 CPU to run the code (RPi uses ARMv6).

[2016-08-05 06:32] Bannz commented on #5
what is it? anyone can tell me how make it is work?

[2016-08-05 06:32] NoMotion commented on #5
@wchill Different generations of RPi use different Architectures. RPi 3 Model B-2 is an ARMv7
It's [here]https://en.wikipedia.org/wiki/Raspberry_Pi#Specifications) on the wiki

[2016-08-05 06:38] soshimozi commented on #5
RPi 3 is 64 bit CPU architecture.  I don't thing Raspbian has been ported to 64 bit yet though, so no OS at 64 bit, but the CPU is 64 bit.

[2016-08-05 06:48] wchill commented on #5
Ah, yes, you are correct. If Raspbian is compiled for ARMv7 though then it could work.

[2016-08-05 06:50] eukaristia opened #9 "some one has been found about unknown6"
skiplaged was working, and you know why?

[2016-08-05 06:51] NoMotion commented on #5
@wchill is 64-bit os required to compile the source tho like @soshimozi says?

[2016-08-05 06:52] soshimozi commented on #5
@NoMotion it's not just the OS, but you need a 64 bit kernel and the company has already said that it is a low priority at this point.

[2016-08-05 06:57] airjesse123 commented on #5
Are there already folks preparing for pull requests on AHAAAAAAA's PokemonGo-Map? Or should we start working on that.

[2016-08-05 06:57] shark0der opened #10 "Possible source for decompiled sub_110830"
I saw some strings in `sub_110830` and googled them, leading me to this findings:

[sub_110830](https://github.com/pkmngodev/Unknown6/blob/master/subs/sub_110830.c#L230) looks similar to this:
https://github.com/google/protobuf/blob/v2.6.1/src/google/protobuf/wire_format.cc#L1093

[2016-08-05 06:58] l2aelba commented on #9
why ?

[2016-08-05 07:09] NoMotion commented on #5
@airjesse123 Is there a fix to PR??

[2016-08-05 07:27] #9 closed

[2016-08-05 07:40] gnought commented on #10
It seems it is same as

[code]

[2016-08-05 07:55] ruffnecktsk opened #12 "Multiple xxhash functions found"
While reversing unknown6 generation function, found some information, maybe helpful.

Function than creates unknown6(136B604) have only one xref, that is sub_013531E8. In contains a lot of data manipulation, and multiple calls to function sub_01353870. I found that this function generates xxhash (32-bit). Tried to find xxhash in google protobuf sources, it is not used there, and i think it somehow

[2016-08-05 08:03] stoffern commented on #12
That is what Mila432 said in the beginning. throu his hints he said that the key was located in the "assets\bin\Data\unity default resources" and that if you used it to decode a original request then you would see the data in unknown6

[2016-08-05 09:16] Mardoxx commented on #12
Why is your image base so high?

Signature for the compiled xxHash function is

    xxHash__53D40(BYTE* buf, int length, uint seed, int unk4, int parity);

[2016-08-05 09:19] ruffnecktsk commented on #12
@Mardoxx i'm reversing iOS app (32bit)

[2016-08-05 09:19] Mardoxx commented on #12
Ah right :)

[2016-08-05 09:25] Mardoxx commented on #12
https://github.com/OneOfOne/xxhash/blob/master/vendor/xxHash/xxhash.c

It's this

[2016-08-05 09:28] ruffnecktsk commented on #12
@Mardoxx ios 32bit using PRIME's for 32-bit hashing

[2016-08-05 09:59] JordaanMe opened #15 "Wrong subcall ?"
In the [sub_41618.c](https://github.com/pkmngodev/Unknown6/blob/c1509aca69055808f9eea500b67a6d9bed621abf/subs/sub_41618.c), [sub_110830](https://github.com/pkmngodev/Unknown6/blob/c1509aca69055808f9eea500b67a6d9bed621abf/subs/sub_110830.c) is called 4 times without parameters, but this one take 4 parameters.

[2016-08-05 10:03] #15 closed

[2016-08-05 10:05] vosk commented on #12
I can confirm 9e9d8 is not invertible, different inputs map to the same ouput. Its not a cipher. (You knew that right?)

[2016-08-05 10:06] olifozzy commented on #12
Careful it might be used for something else , like that library for unity that generate random noise : https://github.com/keijiro/NoiseTools/blob/master/Assets/NoiseTools/XXHash.cs
(might  want to check that seeds values)

[2016-08-05 10:08] Mardoxx commented on #12
@vosk, yes it's a hashing function.

@olifozzy, relatively certain it's not used for that in this instance, although it could be used for anything. It could be used a prng. But doubtful!

[2016-08-05 10:10] vosk commented on #12
Should I try and brute force replicate 9e9d8 in a single function? Would it be useful? It wont tell us WHAT it is, but it  would be much more readable, and reusable.

[2016-08-05 10:13] tjhorner opened #16 "Good to note: Unknown6 is also used for transferring items available to purchase"
It's also used for requesting and sending IAPs, more info can be found at my PR: AeonLucid/POGOProtos#98

[2016-08-05 10:19] pasky commented on #5
This isn't such a silly idea! You could easily run the ARM emulation in qemu, that's not the problem. The issue is, you'd need to figure out the API of libNianticPlugin.so, which would be about as tricky as figuring out the sub_87444 inputs and mostly a separate, disconnected effort. Maybe someone is trying to do it.  It's a less flexible approach, though.

Another point re why this journey may ye

[2016-08-05 10:21] D4D3Z commented on #5
Was trying all night FCuking The UNKNOWN6, but, a lot of question are inside me...
Well get some rest and try again later.
Teh massive works every Dev are doing is priceless <3

[2016-08-05 10:45] myrdyr commented on #10
Similarily, sub_1B6FC0 is std::logic_error, sub_19B6C4 std::basic_string etc.
It's possible to remove a lot of the subs and replace their names with the proper standard library call.

[2016-08-05 11:08] EdenGottlieb commented on #5
@airjesse123
 PokemonGo-Map relies on PGoAPI for connecting to Niantic's servers. Its copy of the API is maintained with git and updated each time the program builds, so once PGoAPI is fixed PokenonGo-Map should be fixed as well.
(Actually its currently fixed on a commit (the last one) but that can be changed in a heartbeat)

[2016-08-05 11:13] segura2010 commented on #12
I have seen they use 53D40 like @Mardoxx put up. But I doesnt see they use it in most of the api request... I see they use it always on login to hash the PTC token. They use the output as seed for the next call to the function. They hash the token and the app version.

http://i.imgur.com/XiGPDHD.png

Then I only see the hash this: http://i.imgur.com/BxvK6vW.png

The first call data sometimes chang

[2016-08-05 11:24] justMaku commented on #12
Correct me if i'm wrong, but aren't those the Protobuf encoded RPC submessages?

The first one with login is the AuthInfo, then the last one is GetSettings/DownloadSettings.

[2016-08-05 11:26] licklake opened #19 "Update public discord link"
The old discord link https://discord.gg/dDBAp expired some hours ago, can someone update it please?

[2016-08-05 11:26] nullpixel1 commented on #19
@keyphact

[2016-08-05 11:32] justMaku commented on #12
That would actually make sense. Calculating a hash of every submessage and then storing it in a signature would guarantee them that the message is valid.

It confirms what we saw already: changing anything in the request invalidates the signature.

[2016-08-05 11:32] dabnoj commented on #5
@pasky so how can Nox send those "Realistic" sensor datas?

[2016-08-05 11:40] shark0der commented on #19
Here's a working one: https://discord.gg/YYaVybS

[2016-08-05 11:42] #19 closed

[2016-08-05 11:44] vikiee6199 commented on #12
how close u r to unknown6???

[2016-08-05 11:45] ruffnecktsk commented on #12
@segura2010 if first call data changes, maybe it mean than app hashes each of request parameters to create request signature?
Need to check is unknown6 length depends of request parameters count.

This can be true, server can easily do the same hashing and check is unknown6 equals it.
Somebody said that when he changed time on phone to past date, no map objects become visible in app. That means th

[2016-08-05 11:47] nullpixel1 opened #22 "test"
test post pls ignore

[2016-08-05 11:48] Peyphour commented on #22
Test response pls ignore :trollface:

[2016-08-05 11:49] nullpixel1 commented on #22
test 2 pls ignore

[2016-08-05 11:49] #22 closed

[2016-08-05 11:49] nullpixel1 opened #23 "ily"
test post

[2016-08-05 11:50] #23 closed

[2016-08-05 11:59] sWAGrOGER opened #25 "Progression Updates"
Only post in here with any updates that seem to be working so everyone can follow along and know where the project is at. If you got something wrong yet commented, just remove it if you don't think it works.

[2016-08-05 12:03] chgicl opened #26 "HOW TO USE"
I am interested in programming, I want to watch the Pokemon go map.
But I do not know how to use this git.
Is there anyone can tell me how to use?

[2016-08-05 12:09] #26 closed

[2016-08-05 12:09] #25 closed

[2016-08-05 12:10] sWAGrOGER commented on #26
In all honesty if you don't know how, they isn't any point trying. I personally don't know how and if I tried to learn how we'd be asking too many questions when people are hard at work.

[2016-08-05 12:24] dverlik commented on #5
the code in APK sends data to libNianticPlugin.so, amirite? Why isn't in possible to repack the APK and recompile the libNianticPlugin.so while modifying their internal code to write a detailed log what is transferred and what happens to it?

[2016-08-05 12:24] GameoverNiantic opened #27 "Game over: it is solved"
https://www.sendspace.com/file/5h1q29

python, node.js and java snippets.

dont know cpp or c# though so may need your help later on.

[2016-08-05 12:25] TalSkverer commented on #12
Does xxhash utilizes salt? (And this is what the 256 "random" bits at the beginning are for?

[2016-08-05 12:25] #27 closed

[2016-08-05 12:26] NotBela commented on #5
Blame me if im wrong, but you can just Log stuff. Nativ Code means, that you will only see Assembly parts, no Var Names, No Function etc. You can easly see all the stuff that is happening, but you have to understand it.

[2016-08-05 12:33] dverlik commented on #5
@NotBela ow, that makes sense, although i still don's understand why we can't just intercept the data between APK and the native part and generate our 'realistic' data and send it to the native lib. Is it because the lib somehow communicates with something apart the APK?

[2016-08-05 12:33] gnought commented on #12
@ruffnecktsk I change my iPhone datetime back to the past and the game still work. The only difference is the map will change to daylight if the time is AM.

[2016-08-05 12:38] ruffnecktsk commented on #12
@gnought hm, i tried now setting to 2015 year and i cannot even login now

[2016-08-05 12:42] vosk commented on #12
The hash is NOT time dependent. its SEEDED on time. Stop wasting everyone`s time. These 32 random bytes are prepended to the data and then hashed and then prepended to the hash. The server can do the same and compare.

[2016-08-05 12:44] christosk92 commented on #16
I really don't think this will be a good idea, this is even worse than botting. But after all Niantic fucked it up for themselves, when they activated Unkown6. They really should have just created private api keys for developers

[2016-08-05 12:45] tjhorner commented on #16
@christosk92 I don't think we'll be able to actually use this-- this is just for giving info to the play store or app store on what IAP ID to send.

[2016-08-05 12:46] BAndysc commented on #5
Everything is happening in the native code, which has all function names, variables cut away that's why it takes time to understand it and place where unknown6 is generated

[2016-08-05 12:47] christosk92 commented on #16
@tjhorner  I really hope so

[2016-08-05 12:48] Lasertrap00 opened #28 "Encryption may Aes256?"
Is it possible that its encrypted with aes256? Because the pseudo c code looks a bit similar to aes256 encryption

[2016-08-05 12:49] thargor commented on #5
What the native part gets from apk is Sensor data and communication
packages. We already have traces of communication between apk and lib. We
need to know how the lib creates/signs these messages with our custom data.
The current work is to determine what kind of data is signed through the
algorithm.

It is not trivial to determine what binary numbers mean. Depending on its
position the hex code 0

[2016-08-05 12:51] Lasertrap00 commented on #28
And could u add me to the chat?

[2016-08-05 12:52] Roenbaeck commented on #28
It looks more like NTRU (https://godoc.org/github.com/Yawning/ntru) to me.

[2016-08-05 12:52] Lasertrap00 commented on #28
The header is may be the key / iv

[2016-08-05 12:53] NotBela commented on #5
@dverlik For dummies: It sounds like the real magic is completly taking place in native code. The "connection" between the native an non nativ part is just for passing sensor data and sending events to the ui. The whole encoding, decoding, and Network Connection is done in Native Code.

[2016-08-05 12:53] nullpixel1 commented on #28
We've already looked into the possibility that it is encrypted with AES256, and it isn't.

For a start the header isn't the key.

Nice suggestion though.

[2016-08-05 12:53] #28 closed

[2016-08-05 12:54] Lasertrap00 commented on #28
The guy is reading the chat

[2016-08-05 12:54] nullpixel1 commented on #28
I know. :)

[2016-08-05 12:54] Xanatus commented on #12
vosk, 9e9d8 and dependencies are long decrypted and understood. It's an encryption and can be decrypted as well.  Refer to c_code/encrypt.c to see and try the implementation.

[2016-08-05 12:56] Lasertrap00 commented on #28
No xD
Could u give me Talk perm

[2016-08-05 12:56] nullpixel1 commented on #28
Sorry. We're quite full.

[2016-08-05 12:58] dverlik commented on #5
@NotBela i know that - and being the native part a blackbox is okay as far as an emulated user sends his data into that blackbox. You said the native code recieves sensor data and UI commands - so what is the main problem in making a program that emulates the APK java code part, passing to the native part the sensor/UI data it wants to recieve?

[2016-08-05 12:59] stoffern opened #29 "public_key"
..

[2016-08-05 13:02] Ephemerality commented on #29
This is com.upsight.public_key, not relevant.

[2016-08-05 13:03] nullpixel1 commented on #29
Irrelevant. Closed & Locked.

[2016-08-05 13:03] #29 closed

[2016-08-05 13:05] #16 closed

[2016-08-05 13:05] nullpixel1 commented on #16
Hi, this is really nice, so I'm going to close and mark it as Archived so we can come back to it later.

[2016-08-05 13:08] gurupras commented on #10
Noob question :(
Doesn't objdump tell you function names and addresses?

[2016-08-05 13:09] shark0der commented on #10
Binary is stripped. No function names, no debug symbols

[2016-08-05 13:09] ChronoXNL commented on #10
@gurupras : no, as the function names pretty much get lost once compiled (they do not serve a purpose in compiled code, they just get 'tagged' as a symbol

[2016-08-05 13:10] gnought opened #31 "Number of arguments in sub_9E1C4"
The ida pseudo codo of sub_9E1C4 argument signature is 3, is there any inconsistent in the definition of https://github.com/pkmngodev/Unknown6/blob/master/c_code/encrypt.c ?

[2016-08-05 13:13] Roenbaeck opened #32 "Encryption may be NTRU?"
There are some resemblances to NTRU, when it comes to ciphtertext lengths. Here is a c library: https://github.com/tbuktu/libntru

[2016-08-05 13:16] MaxLeiter commented on #16
Actually I think we should leave it open for people to see and discuss, @nullpixel1 @RocketRaccoon7

[2016-08-05 13:21] gurupras commented on #10
I'm confused then. When I run objdump on the .so, I get functions like:

    00049610 <UnityPluginLoad>:
    00049614 <UnityPluginUnload>:

I'll take your word for it that this isn't very useful

[2016-08-05 13:22] Xanatus commented on #31
look at sub_9E1C4, the second argument is not used.

[2016-08-05 13:22] globeriz commented on #32
Nope, should not involve a public key AFAIK

[2016-08-05 13:22] shark0der commented on #10
Some unity generic functions may have names. The important code is not. @repomods please delete irrelevant comments

[2016-08-05 13:23] globeriz commented on #31
encrypt.c is still usable despite the inconsistencies, as the additional arguments are not referenced even if they are passed to the function

[2016-08-05 13:27] nullpixel1 commented on #16
Your call @MaxLeiter

[2016-08-05 13:38] rickytesting2016 commented on #10
One more stupid question (in case if we didn't think/try it before...)
Did we try to decompile previous version of PokemonGo, even like maybe alpha/beta/0.01 version on Android/iOS.
Assuming unknown6 exists long time ago, during init stage of development / testing / beta...they *may* not strip out so many things for debugging....or at least it may remain more strings / information?

[2016-08-05 13:39] shark0der commented on #10
It's up to you to find out. If you do find something - open a new issue.

[2016-08-05 13:40] tjhorner commented on #16
So should I mute my notifications or... :laughing:

[2016-08-05 13:40] rickytesting2016 commented on #10
Just an idea as i haven't see anyone try it in reddit / github, but I'm not going to work on it LOL

[2016-08-05 13:42] tjhorner commented on #16
So here are the files I've gathered from that PR that will definitely be useful:

- https://github.com/tjhorner/POGOProtos/blob/6b15a83e7d9a03c9d97c26d3f34f4e059a153330/src/POGOProtos/Networking/Envelopes/Unknown6Response.proto
- https://github.com/tjhorner/POGOProtos/blob/6b15a83e7d9a03c9d97c26d3f34f4e059a153330/src/POGOProtos/Networking/Envelopes/ResponseEnvelope.proto

[2016-08-05 13:44] Jean-Daniel commented on #10
@gurupras objdump shows you exported symbols which must not be stripped as they are used by the dynamic linker.
Other symbols are stripped. Moreover, the compiler can also inline some code, and so completely remove the function from the output library (the inlined function appears as being part of the calling function, and you don't even know it was a independent function in the first place, so yo

[2016-08-05 13:46] pasky commented on #5
@dverlik Try it and see! I think such an alternative parallel effort would be welcome. You need to figure out the API of the library.

[2016-08-05 13:51] #32 closed

[2016-08-05 14:06] NotBela commented on #5
Nearly the whole App is a black box. Only the the device specific things like Sensors or Engine are decompileable. The whole magic happens inside the unity scripts - which are sadly in native code.

[2016-08-05 14:12] dverlik commented on #5
@NotBela @pasky Anyways, i will look into it, i am still sure it can be solved that way (even if it will come to have an anroid emulator with a program sending ui activities to the PGo app)

[2016-08-05 14:14] rryles opened #34 "sub_9E9D8_decrypt() is illogical"
I realise it's a quick and dirty attempt to reverse the encryption, but it doesn't make sense.

It ends with
[code]
however sub_87568 produces it's output in temp, not temp2.  What is needed is the inverse of sub_87568. (It is not self inverse)

[2016-08-05 14:17] NotBela commented on #5
Ye, just do it :D Feel free to send me updates about your progress via email or on the discord.

[2016-08-05 14:20] globeriz commented on #34
source? I don't think anyone has came up with a decrypt function yet

[2016-08-05 14:21] rryles commented on #34
https://github.com/pkmngodev/Unknown6/blob/master/c_code/encrypt.c

[2016-08-05 14:25] Dingdanipp commented on #10
i can work on it. There is a symbol recovered binary https://dl.dropboxusercontent.com/u/83439509/armeabi-v7a.zip on wiki. The link is broken. What is that? Who still has that file?

[2016-08-05 14:27] shark0der commented on #10
http://www.apkmirror.com/apk/niantic-inc/pokemon-go/#variants

[2016-08-05 14:28] globeriz commented on #34
Acknowledged, submitting PR soon

[2016-08-05 14:28] #34 closed

[2016-08-05 14:30] salvprest commented on #5
@dverlik  the app now support x86 cpu, so there must be a x86 version of libNianticPlugin.so

[2016-08-05 14:32] dverlik commented on #5
@salvprest Thanks for the info

[2016-08-05 14:42] Phantisy commented on #10
i had the same idea about comparing them to the older nets versions and was trying to chat with users in the discord about that. I already found the original Japan beta and the bets version from back in may. I shared them with in the discord chat user To (I this was his name). If anyone else wants them I'll gladly share the links.

[2016-08-05 14:43] Dingdanipp commented on #10
yes i need that @Phantisy I am search all subs here against anything possible

[2016-08-05 15:04] Phantisy commented on #10
PokemonGo Field Test version 0.23.2:
https://mega.nz/#!E9pRERzK!Oa90YB5cBcXachZoMFJBXVC9Wx8KQpFcyQ6pIvzoUIQ
PokemonGo Field Test Version (Japan) 0.13.5:
https://mega.nz/#!8o4wAaoD!OiNmEpQj_5f3VE26XDq38DI8byDG8C_0YyydOdSMw68

[2016-08-05 15:09] shark0der opened #40 "Cloudflare or Discord fucked up"
![image](https://cloud.githubusercontent.com/assets/528959/17441005/c6400b32-5b37-11e6-804a-192dc8693c69.png)

(same response from 8.8.8.8)

[2016-08-05 15:11] ur0 opened #41 "The encryption shared lib isn't in $LD_LIBRARY_PATH"
[code]
Most linux boxes don't put the current dir in the LD path. A fix is to modify the Makefile to statically link instead of using the `.so`. (I also hate binaries in repos).

[2016-08-05 15:11] ur0 commented on #40
It's back for me.

[2016-08-05 15:12] Dingdanipp commented on #10
@Phantisy  no... i miss the second one (0.13.5). link is broken

[2016-08-05 15:13] gnought commented on #40
Not "host discordapp.com" ?

[2016-08-05 15:14] shark0der commented on #40
@gnought the websocket connection is failing, as seen in chrome's console

[2016-08-05 15:14] nullpixel1 commented on #40
Closed as this issue isn't related to UK 6. You can of course continue to discuss this.

[2016-08-05 15:14] #40 closed

[2016-08-05 15:17] Phantisy commented on #10
0.13.5 https://mega.nz/#!h44gGT6R!OiNmEpQj_5f3VE26XDq38DI8byDG8C_0YyydOdSMw68
0.32.2 https://mega.nz/#!E9pRERzK!Oa90YB5cBcXachZoMFJBXVC9Wx8KQpFcyQ6pIvzoUIQ

[2016-08-05 15:17] gnought commented on #40
It seems it's back again.

[2016-08-05 15:20] shark0der commented on #40
Google/Cloudflare still returning 127.0.0.1 for me. Even if I `dig` from different locations.

[2016-08-05 15:23] vosk commented on #12
I was sent  in discord an unknown6_encryption.cpp file which has some implementation of 9e9d8 that is DIFFERENT compared to the repo, based only on input-output dumps not source.  Could it be that there is some error somewhere?
I am getting annoying I know :D

[2016-08-05 15:29] shark0der commented on #40
Can someone give me the IP for `discordapp.io` so I can try putting it in hosts?

[2016-08-05 15:36] 4rthurRousseau commented on #10
@rickytesting2016 "Diff-ing different client versions does NOT produce meaningful results. Nothing to compare"

[2016-08-05 15:36] Dingdanipp commented on #10
no luck. not much symbols in all previous version. I use IDA Pro with Kam1n0. not sure if there some tricks to load more symbols.
Here is the search result for subs in this repo:

https://www.docdroid.net/kxjw6ai/pkmg.pdf.html

The size of the pie indicates similarity on assembly code

[2016-08-05 15:36] shark0der commented on #10
@4rthurRousseau He was not trying to diff. He was attempting to get debug symbols.

[2016-08-05 15:38] Dingdanipp commented on #10
@4rthurRousseau That's what i did and reported. There does exist diffs; but not meaningful. See https://www.docdroid.net/kxjw6ai/pkmg.pdf.html here

[2016-08-05 15:50] shark0der commented on #40
It's back up.

[2016-08-05 15:51] makertech81 opened #44 "Source Code"
How useful is having the source code of PoGo?  I don't know if this has been accomplished yet, but I have found everything including the classes and server keys used in PoGo.

Just Trying to help!

Maker

[2016-08-05 15:56] shark0der commented on #44
https://github.com/pkmngodev/Unknown6/issues/5#issuecomment-237754201

[2016-08-05 15:57] makertech81 commented on #44
Ok, thanks.  Sorry!

[2016-08-05 15:57] 4rthurRousseau commented on #10
I misunderstood what he was trying to do.
By the way, thanks for the previous versions and the subs report.

[2016-08-05 15:58] shark0der commented on #44
Close the issue please.

[2016-08-05 15:58] Dingdanipp commented on #10
anyone knows if there exists other armv7 binaries related to proto buff? Probably we can find a match of some generated functions.

[2016-08-05 16:00] Abraxas000 commented on #44
If you legitimately have the source code somehow and not just the compiled app, feel free to PM a link to me and I'll verify it.

[2016-08-05 16:03] segura2010 commented on #12
I dont know if you know it, but they are hashing the request (Protobuf field 4->2), but first it seems they add something (the first call to xxhash) (salt?), the they use the output (hash of salt) as seed for the hash of the request field. Also they hash other info i dont know what is.

You can see this img with the calls to xxhash (seed, input and output): http://i.imgur.com/dDBV1cV.png
You can s

[2016-08-05 16:19] trisk commented on #12
We verified field 24 in the input protobuf for the "encrypt" function is an array (as packed uint64) of hashes returned from the xxhash-like function. Would be interesting to know if it's an standard xxhash implementation.

[2016-08-05 16:22] #44 closed

[2016-08-05 16:26] ur0 commented on #40
Am still having issues. Apologies everyone who's trying to reach me.

[2016-08-05 16:30] shark0der commented on #40
Offline (again) for me as well.

On Aug 5, 2016 7:26 PM, "Umang Raghuvanshi" <notifications@github.com>
wrote:

[2016-08-05 16:46] vosk commented on #12
Ok, the whole encryption scheme doesnt have A SINGLE bit mixing instruction, its byte level only. Supported by statistical search. Should be a)fast to compute b)much faster to replicate.

[2016-08-05 17:25] segura2010 commented on #12
as @trisk said, the all the hashes i put on https://github.com/pkmngodev/Unknown6/issues/12#issuecomment-237825215 are sent in field 24.

Someone checked if xxhash is the standard xxhash or modified?

I tried to check it with this python code:

[code]

Result should be: 1330500961 (0x4f4dd561)

I got:

XHash Version: 0.6.1
XXHash 32-bit: 224f5433
XXHash 32-bit (with seed): a59195e8
XXHash 64-bit:

[2016-08-05 17:32] soshimozi commented on #5
@salvprest if it's x86 are you talking windows PE format or ABI ELF format on x86 platform?

[2016-08-05 17:35] ChronoXNL commented on #10
I would say Ingress is using similar / the same perhaps? It's the other app from Niantic that has possibly the same type of encryption.

[2016-08-05 17:39] shark0der commented on #5
@dverlik not sure though. I couldn't find an apk for x86 - I only found a site claiming it has the apk but the link was to arm.
@soshimozi that'd be ELF, since it's for asus zenfone which runs android.

[2016-08-05 18:18] soshimozi commented on #5
@shark0der Yeah, I guess I should have just asked the platform.  I haven't done any windows phone programming since early on, so I'm not entirely sure what the platform is supporting right now.  If it's android then it's definitely ABI ELF.

[2016-08-05 18:41] lufthansa747 opened #50 "Can Niantic Stop the Encryption Being Cracked?"
From my understanding the first main hurtle to solving the unknown6 problem was cracking the encryption used for the proto parameters. The encryption was cracked by tracking down the key stored in the APK(this is my best guess at how it was cracked). After the encryption was cracked work could begin on reverse engineering the encrypted parameters in order to understand what they are and how to rep

[2016-08-05 18:43] xssc commented on #50
We can always find the inputs, it just may get harder and harder. The client must be able to know what it needs to send. Then we can find what it sends and try to spoof it

[2016-08-05 18:51] mlthomas commented on #50
No, they did not. It is not correct to say the encryption was cracked. That implies that after encrypting, one could decrypt. In assymetrical cryptography, you encrypt with one side and decrypt with the other. If you cannot decrypt then you do not understand the structure being encrypted. It is the nature or shape of the input data being encrypted that was reversed-engineered so it could be replic

[2016-08-05 19:17] Auth0x commented on #5
@soshimozi Yep, it's ARM x86-64...so it doesn't change for the better, right?

[2016-08-05 19:32] Mardoxx commented on #12
I can't check atm, but should your seed not be 1656697945

[2016-08-05 19:47] wchill commented on #5
@soshimozi @Auth0x ARM x86 isn't a thing.

[2016-08-05 20:14] wchill commented on #50
GitHub issues is not a forum. Please take questions to Discord or reddit.

[2016-08-05 20:14] #50 closed

[2016-08-05 20:22] wchill commented on #31
IDA assumes that any registers from `r0-r7` which are modified immediately before the function call are arguments to the function. Hence, it's very likely that those additional arguments are just there and are not needed.

[2016-08-05 20:45] gnought opened #56 "Command Fix in the "Android Debugging" Wiki"
The command should be

`python frida-android.py -1 -1`

in
https://github.com/pkmngodev/Unknown6/wiki/Android-debugging

[2016-08-05 22:08] Mila432 opened #60 "Wiki"
https://github.com/pkmngodev/Unknown6/wiki
Somebody finally remove the original iPa file ?

https://www.reddit.com/r/pokemongodev/comments/4w1cvr/pokemongo_current_api_status/d642s4q

[2016-08-05 22:08] firebolt55439 commented on #5
Quick question - what function does `Signature.proto` serve? For example, does it represent the structure of the unknown6 field or is it unrelated to the encryption entirely? I'm somewhat confused about what all the decompiled C code does in the protocol.

[2016-08-05 22:13] trisk commented on #5
Signature.proto is the description of the protobuf that is the input to the main hash function which yields the Unknown6 blob.

[2016-08-05 22:16] xssc commented on #60
Why did someone buy an IPA?

[2016-08-05 22:21] firebolt55439 commented on #60
@xssc He means that whoever downloaded the game using their Apple ID and uploaded it forgot to change the iTunes metadata that has their username. As such, reposting it in the wiki might allow Niantic to identify that person and take retribution against them, which is why @Mila432 is asking us to take it down.

[2016-08-05 22:35] Mila432 commented on #60
It's not even cracked , so you can't use the bin.

[2016-08-05 22:38] firebolt55439 commented on #5
@trisk I see. So that's why we're trying to decrypt the signature now - makes sense :)

[2016-08-05 22:58] keyphact opened #65 "Technical Update So Far."
**Detailed info for those who are interested:**
The new struct, which we are calling `Signature` (previously `Unknown6`), authenticates every request made to the API. The structure of `Signature` turns out to be made up of a few more structures and values. We've managed to figure out what some of those are, leaving only a few remaining.

The integer `unknown_10` is a hash generated by Pokémon Go.

[2016-08-05 23:00] thelostcode commented on #65
Good summary!

[2016-08-05 23:02] JoorgeFerrari commented on #65
You guys rock!

[2016-08-05 23:02] AhmadS12 commented on #65
Good to hear!

[2016-08-05 23:02] HaydarOzturk commented on #65
is that mean API works now?

[2016-08-05 23:03] IstenesImre commented on #65
<3

[2016-08-05 23:03] ddrght12345 commented on #65
Awesome! Glad you guys are making so much progress on this.

[2016-08-05 23:03] famofa24 commented on #65
API work?

[2016-08-05 23:04] InvisibleTouch commented on #65
Great Job....

[2016-08-05 23:04] HasanY1989 commented on #65
You guys rock !

[2016-08-05 23:04] Midnlght commented on #65
What a time to be alive lol

[2016-08-05 23:04] rbryson74 commented on #65
That summary is gorgeous.

[2016-08-05 23:05] thappy commented on #65
Amazing. How do I buy you coffee

[2016-08-05 23:05] xXDarkBladeXx commented on #65
nice 1

[2016-08-05 23:05] Devphex commented on #65
Awesome!! Good job developers

[2016-08-05 23:06] pet90210 commented on #65
no API doesn't work .. for gods sake. READ the post and when you don't understand the technical things he is talking about look here ... https://www.reddit.com/live/xdkgkncepvcq

[2016-08-05 23:07] thisisritz commented on #65
Amazing job, thanks Debuggers!

[2016-08-05 23:07] CyberChrist777 commented on #65
I sense more beer money on the way...

[2016-08-05 23:07] codman96 commented on #65
so can yous fix it?

[2016-08-05 23:07] J-rooft commented on #65
Yau are awesome!

[2016-08-05 23:08] Dejamelofiao commented on #65
WE CAN GUYS!!

[2016-08-05 23:08] BobbyWibowo commented on #65
Sounds epic.

[2016-08-05 23:09] yeuna commented on #65
I LOVE YOU GUYS! FEELSGOODMAN

[2016-08-05 23:10] DestroyerJoules commented on #65
Nice work guys !! When the bot will be up +/- in ur prespective? Continue with ur job :)

[2016-08-05 23:10] HasanY1989 commented on #65
Stop asking questions that been answered, and for once read what the devs write.
NO the API is not working yet, however they in good progress,  a request generator is working, but they fare from done...

[2016-08-05 23:11] DestroyerJoules commented on #65
Great job

[2016-08-05 23:13] DestroyerJoules commented on #65
Great job continue with ur work!! In ur prespective when the bots will be up? Thanks and donated :)

[2016-08-05 23:14] BobbyWibowo commented on #65
Also please note that the dev team is not only made up by the bot developers. So this is not the right place to ask details specifically about the "bot".

[2016-08-05 23:14] keyphact commented on #65
Going to lock, you can express yourselves via the Github smiley icon :)

[2016-08-05 23:14] #65 closed

[2016-08-05 23:15] elpibeninja commented on #65
great joob guys!!! thanks

[2016-08-05 23:15] LJeremy commented on #65
We would like to take this opportunity reiterate our stance within the community:

► Our purpose lies in cracking the API and that is our sole passion only.
► We do not support third-party projects 'nor their actions.

- /u/ChipIsTheName

[2016-08-05 23:16] shark0der opened #66 "Move summary to wiki"
@keyphact I suggest moving #65 to the wiki

[2016-08-05 23:16] #41 closed

[2016-08-05 23:17] MaxLeiter commented on #66
At least duplicating it their for longetivities sake

[2016-08-05 23:35] keyphact commented on #60
@Mila432 , Hi.

Thanks for catching this, in future would be best if you contact us via more discreet methods.
We're all available on discord.

[2016-08-05 23:35] #60 closed

[2016-08-05 23:35] keyphact commented on #66
What's the benefits of moving it to the wiki?

[2016-08-05 23:40] Mila432 commented on #60
@keyphact not my file .. My file is decrypted , contains both 32/64 and is id free
This one http://www.mediafire.com/?dqlho32pgqr6u7d

[2016-08-05 23:43] Mila432 commented on #60
You can add this link
https://drive.google.com/open?id=0B5VhBsDM-WN2QkE0bWZIZnpnR0U

[2016-08-06 00:06] TalSkverer commented on #56
Thanks for the heads up! (Fixed & closing)

[2016-08-06 00:06] #56 closed

[2016-08-06 00:31] Taranis01 commented on #66
e.g. that it is available not only over the link (closed)
or that it does not go down in the issue tracker

[2016-08-06 00:45] yaonatanz commented on #5
Does anyone have documented information  about the so? I can look at this tommorw...  I might be helful

[2016-08-06 00:46] #5 closed

[2016-08-06 01:33] onlythechosen opened #71 "Missing a few things"
message LocationUpdate {
        string provider = 1;
        uint64 timestamp_since_start = 2;
	float altitude = 4;
        float latitude = 13;
        float longitude = 14;
        float accuracy = 21;
        uint64 location_status = 26;
        uint64 location_type = 28;
    }

    message SatelliteInfo {
        uint64 time_to_fix = 1;
        repeated int32 satellites_prn = 2;
        repea

[2016-08-06 01:35] firebolt55439 commented on #71
@onlythechosen If you want to submit changes, a pull request would be the better way to go :).

[2016-08-06 01:36] firebolt55439 commented on #31
We should probably close this.

[2016-08-06 01:38] xssc commented on #71
Make a PR

[2016-08-06 01:39] #66 closed

[2016-08-06 01:49] gurupras commented on #71
This is super interesting.
From an purely educational perspective, how did you figure out the field names?

[2016-08-06 01:54] xssc commented on #71
@gurupras his field names are just more accurate terms that are actually used for device settings, if on android you can download an app that will tell you sensor info and you can see the names.

[2016-08-06 01:56] gurupras commented on #71
But how does one figure the names out in the first place? Not to mention the order.
I've seen from the `protoc --decode_raw` that it gives us the general outline. To me, figuring out what the fields are sounds awesome

[2016-08-06 02:01] onlythechosen commented on #71
IIterable satellites = gpsStatus.Satellites;
                IIterator sat = satellites.Iterator();
                int i = 0;
                while (sat.HasNext)
                {
                    GpsSatellite satellite = sat.Next().JavaCast<GpsSatellite>();
                    Console.WriteLine(satellite.Prn);
                    Console.WriteLine(satellite.Snr);
                    Console.W

[2016-08-06 02:10] s7092910 commented on #71
I think he is more asking how did you know that these field names reflect what they actually are.

[2016-08-06 03:13] gurupras commented on #71
Right. How do you know that the protobuf structure actually denotes *these* fields?

[2016-08-06 04:57] Lennix opened #74 "Discussion/Information on Unknown22"
- Fixed length of 16 bytes
- Not related to requests
- Not related to auth_ticket
- Does NOT change on manual relog (within the app via settings->logout)
- Does change with app startup

[2016-08-06 07:39] trisk commented on #74
ambasta and Moosh suggested an ideal choice of algorithm for this might be a (static) TOTP or HTOP derived at startup time. In which case, a test would be to (again) change the clock back and forth while restarting the app.

[2016-08-06 09:00] Moosheplusplus commented on #74
@trisk if I remember correctly it was determined not to be dependent on time, so we can rule TOTP out. If it changes on app startup, it may be related to a field set in SharedPreferences or something similar.

[2016-08-06 10:10] tkSimon commented on #71
They figured it out by reverse engineering the code that writes the protobuf.

[2016-08-06 11:19] p4plus2 opened #78 "encryption work"
I've started to simplify encrypt.c, but its approaching 4am so I figured I'd toss a WIP here for somebody else to poke around at.  If you continue the simplification pattern many v[] indexes should become useless, many already are but I didn't prune them yet.

If nothing else, the for loop stage is ready to be merged, hoperfully with a bit more simplification we can start seeing more similar patte

[2016-08-06 12:11] p4plus2 commented on #78
Okay I really couldn't resist pushing this further...

https://gist.github.com/p4plus2/1a6d1b4e8bc79b6158e93a8b13172466

I DID NOT TEST THIS YET.  But I *really* must sleep now.  I'm reasonably confident in this based on visual inspection though.  I wrote a tool to do the conversion now, so if somebody can format the other routines like sub_87568 is currently I'll run em through my tool in the mor

[2016-08-06 13:54] #78 closed

[2016-08-06 13:55] #71 closed

[2016-08-06 15:15] Linewalker commented on #74
A catch from last night:
22 {
  11: 0xcbce0742
  52612: 0x82926f8a35b0d764
}

[2016-08-06 17:28] trisk commented on #74
@Linewalker those are unlikely protobuf field numbers, probably decoding it as a message instead of leaving it as byte sequence.

[2016-08-06 19:01] dUcKD2K commented on #74
@linewalker are you from Australia? If so cbce0742 could be the IP 203.206.7.66